# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

Dieter Schuster <dieter.schuster@aisec.fraunhofer.de>
Fabian Kügler <fabian.kuegler@aisec.fraunhofer.de>
Fabian Kügler <fabian.kuegler@aisec.fraunhofer.de> <104513847+fkglr@users.noreply.github.com>
Ferdinand Jarisch <ferdinand.jarisch@aisec.fraunhofer.de>
Johannes Obermaier <johannes.obermaier@aisec.fraunhofer.de>
Stefan Tatschner <stefan.tatschner@aisec.fraunhofer.de>
Stefan Tatschner <stefan.tatschner@aisec.fraunhofer.de> <stefan@rumpelsepp.org>
Tobias Madl <tobias.madl@aisec.fraunhofer.de>
Tobias Specht <tobias.specht@aisec.fraunhofer.de>
Veronique Ehmes <veronique.ehmes@aisec.fraunhofer.de>
David Emeis <david.emeis@aisec.fraunhofer.de>
David Emeis <david.emeis@aisec.fraunhofer.de> <104214928+emedav@users.noreply.github.com>
