# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "gallia"
version = "1.1.2"
description = "Extendable Pentesting Framework"
license = "Apache-2.0"
readme = "README.md"
documentation = "https://fraunhofer-aisec.github.io/gallia"
repository = "https://github.com/Fraunhofer-AISEC/gallia"
authors = ["AISEC Pentesting Team"]
maintainers = [
    "Stefan Tatschner <stefan.tatschner@aisec.fraunhofer.de>",
    "Tobias Specht <tobias.specht@aisec.fraunhofer.de>",
]
keywords = ["pentesting", "automotive", "uds"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: AsyncIO",
    "Operating System :: POSIX :: Linux",
]
packages = [
    { include = "gallia", from = "src" },
    { include = "cursed_hr", from = "src" },
    { include = "hr", from = "src" },
    { include = "opennetzteil", from = "src" },
]

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
aiohttp = "^3.8"
aiofiles = ">=0.8,<22.2"
aiosqlite = "^0.17"
argcomplete = "^2.0"
zstandard = ">=0.17,<0.20"
python-can = "^4.0"
tabulate = ">=0.8.9,<0.10.0"
construct = "^2.10.67"
tomli = { version = "^2.0.1", python = "<3.11" }
msgspec = ">=0.8,<0.11"
pydantic = "^1.10"
pygit2 = "^1.10"

[tool.poetry.group.dev.dependencies]
black = "^22.10"
Sphinx = "^5.2"
flake8 = "^5.0"
isort = "^5.10"
mypy = "^0.982"
pylint = "^2.15.0"
pylsp-mypy = "^0.6"
pylsp-rope = "^0.1"
pytest = "^7.1"
pytest-asyncio = "^0.19"
python-lsp-black = "^1.1"
python-lsp-server = "^1.5"
types-aiofiles = "^22.1"
types-tabulate = "^0.9"
myst-parser = "^0.18"
sphinx-rtd-theme = "^1.0"
reuse = "^1.0.0"
construct-typing = "^0.5.2"
pytest-cov = "^4.0"
pyls-isort = "^0.2.2"

[tool.poetry.scripts]
"gallia" = "gallia.cli:main"
"netzteil" = "opennetzteil.cli:main"
"cursed-hr" = "cursed_hr.cursed_hr:main"
"hr" = "hr:main"

[tool.mypy]
strict = true
# mypy 0.990 will have this enabled by default
enable_recursive_aliases = true

[[tool.mypy.overrides]]
module = [
    "argcomplete",
    "pygit2",
]
ignore_missing_imports = true

[tool.black]
target-version = ['py310']

[tool.isort]
profile = "black"
py_version= "310"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.pylint.messages_control]
disable = [
    "broad-except",
    "duplicate-code",  # https://github.com/Fraunhofer-AISEC/gallia/issues/306
    "fixme",
    "invalid-name",
    "line-too-long",  # handled by black
    "logging-fstring-interpolation",  # https://github.com/Fraunhofer-AISEC/gallia/issues/234
    "logging-not-lazy",  # https://github.com/Fraunhofer-AISEC/gallia/issues/234
    "missing-class-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
    "missing-module-docstring",
    "no-member",  # mypy handles this better
    "no-name-in-module",  # mypy handles this better
    "too-few-public-methods",
    "too-many-arguments",
    "too-many-branches",
    "too-many-instance-attributes",
    "too-many-lines",
    "too-many-locals",
    "too-many-nested-blocks",
    "too-many-public-methods",
    "too-many-return-statements",
    "too-many-statements",
    "unused-argument",
]
