# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "gallia"
version = "1.1.0a1"
description = "Extendable Pentesting Framework"
license = "Apache-2.0"
readme = "README.md"
documentation = "https://fraunhofer-aisec.github.io/gallia"
repository = "https://github.com/Fraunhofer-AISEC/gallia"
authors = ["AISEC Pentesting Team"]
packages = [
    { include = "gallia", from = "src" },
    { include = "cursed_hr", from = "src" },
    { include = "hr", from = "src" },
    { include = "opennetzteil", from = "src" },
    { include = "penlog", from = "src" },
]

[tool.poetry.dependencies]
python = ">=3.9,<3.11"
aiohttp = "^3.8.1"
aiofiles = "^0.8.0"
aiosqlite = "^0.17.0"
argcomplete = "^2.0.0"
zstandard = ">=0.17,<0.19"
python-can = "^4.0.0"
tabulate = "^0.8.9"
construct = "^2.10.68"
xdg = "^5.1.1"
tomlkit = "^0.11.0"
msgspec = "^0.8.0"

[tool.poetry.dev-dependencies]
black = "^22.6.0"
Sphinx = "^5.1.1"
flake8 = "^5.0.4"
isort = "^5.10.1"
lxml-stubs = "^0.4.0"
mypy = "^0.971"
pylint = "2.15.0"
pylsp-mypy = "^0.6.2"
pylsp-rope = "^0.1.10"
pytest = "^7.1.2"
pytest-asyncio = "^0.19.0"
python-lsp-black = "^1.1.0"
python-lsp-server = "^1.5.0"
types-aiofiles = "^0.8.10"
types-tabulate = "^0.8.11"
myst-parser = "^0.18.0"
sphinx-rtd-theme = "^1.0.0"
reuse = "^1.0.0"

[tool.poetry.scripts]
"gallia" = "gallia.cli:main"
"discover-xcp" = "gallia.udscan.scanner.find_xcp:main"
"cursed-hr" = "cursed_hr.cursed_hr:main"
"hr" = "hr:main"

[tool.mypy]
disallow_any_unimported = true
check_untyped_defs = true
ignore_missing_imports = true
allow_redefinition = true
warn_unreachable = true
disallow_untyped_calls = true
strict_equality = true
disallow_untyped_defs = true
warn_unused_ignores = true

[tool.black]
target-version = ['py39']

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.pylint.messages_control]
disable = [
    "R0801",
    "broad-except",
    "c-extension-no-member",
    "fixme",
    "invalid-name",
    "line-too-long",
    "logging-fstring-interpolation",  # https://github.com/Fraunhofer-AISEC/gallia/issues/234
    "logging-not-lazy",  # https://github.com/Fraunhofer-AISEC/gallia/issues/234
    "missing-class-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
    "missing-module-docstring",
    "multiple-statements",
    "no-else-break",
    "no-else-continue",
    "no-else-return",
    "no-member",  # mypy handles this better
    "no-name-in-module",
    "simplifiable-if-expression",
    "too-few-public-methods",
    "too-many-arguments",
    "too-many-branches",
    "too-many-instance-attributes",
    "too-many-lines",
    "too-many-locals",
    "too-many-nested-blocks",
    "too-many-public-methods",
    "too-many-return-statements",
    "too-many-statements",
    "unexpected-special-method-signature",
    "unused-argument",
    "use-dict-literal",
    "use-list-literal",
]
