# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "gallia"
version = "1.2.0"
description = "Extendable Pentesting Framework"
license = "Apache-2.0"
readme = "README.md"
documentation = "https://fraunhofer-aisec.github.io/gallia"
repository = "https://github.com/Fraunhofer-AISEC/gallia"
authors = ["AISEC Pentesting Team"]
maintainers = [
    "Stefan Tatschner <stefan.tatschner@aisec.fraunhofer.de>",
    "Tobias Specht <tobias.specht@aisec.fraunhofer.de>",
]
keywords = ["pentesting", "automotive", "uds"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Framework :: AsyncIO",
    "Operating System :: POSIX :: Linux",
]
packages = [
    { include = "gallia", from = "src" },
    { include = "cursed_hr", from = "src" },
    { include = "hr", from = "src" },
    { include = "opennetzteil", from = "src" },
]

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
aiohttp = "^3.8"
aiofiles = ">=22.1,<24.0"
aiosqlite = ">=0.18"
argcomplete = ">=2,<4"
zstandard = ">=0.19"
python-can = "^4.2"
tabulate = ">=0.9"
construct = "^2.10.67"
tomli = { version = "^2.0", python = "<3.11" }
msgspec = ">=0.11,<0.18"
pydantic = "^2.0"
pygit2 = "^1.10"
platformdirs = ">=2.6,<4.0"
exitcode = "^0.1.0"

[tool.poetry.group.dev.dependencies]
black = ">=22.10,<24.0"
Sphinx = ">=5.2,<7.0"
mypy = "^1.0"
pylsp-mypy = "^0.6"
pylsp-rope = "^0.1"
pytest = "^7.1"
pytest-asyncio = ">=0.20,<0.22"
python-lsp-black = "^1.1"
python-lsp-server = "^1.5"
types-aiofiles = "^23.1"
types-tabulate = "^0.9"
myst-parser = ">=0.18,<2.1"
sphinx-rtd-theme = "^1.0"
reuse = "^1.0.0"
construct-typing = "^0.5.2"
pytest-cov = "^4.0"
ruff = ">=0.0.260,<0.0.276"
python-lsp-ruff = "^1.1.0"

[tool.poetry.scripts]
"gallia" = "gallia.cli:main"
"netzteil" = "opennetzteil.cli:main"
"cursed-hr" = "cursed_hr.cursed_hr:main"
"hr" = "hr:main"

[tool.mypy]
strict = true
plugins = [
    "pydantic.mypy"
]

[[tool.mypy.overrides]]
module = [
    "argcomplete",
    "pygit2",
]
ignore_missing_imports = true

[tool.ruff]
target-version = "py310"
select = [
    # TODO: Enable this
    # "B",    # flake8-bugbear
    "C4",   # flake8-comprehensions
    "E",    # pycodestlye
    "F",    # pyflakes
    "I",    # isort
    "PL",   # pylint
    "PTH",  # flake8-use-pathlib
    "TID",  # flake8-tidy-imports
    "UP",   # pyupgrade
]
ignore = [
    "E501",     # line length
    "PLR2004",  # magic value used in comparison
    "PLR0911",  # too many return statements
    "PLR0912",  # too many branches
    "PLR0915",  # too many statements
    "PLC1901",  # empty string is falsey
]

[tool.black]
target-version = ['py310']

[tool.pytest.ini_options]
asyncio_mode = "auto"
