# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

# https://github.com/actions/setup-python/issues/374

name: docs

on:
  push:
    branches:
    - master
  pull_request:
    paths:
    - 'pyproject.toml'
    - 'poetry.lock'
    - '.github/**'
    - 'docs/**'
    - 'src/**'

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v4
      with:
        enable-cache: true

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: ".python-version"

    - name: Install the project
      run: |
        uv sync --all-extras --dev

    - name: Invoke sphinx-build
      run: |
        uv run make -C docs SPHINXOPTS="-W" html

    - name: Archive webpage
      uses: actions/upload-artifact@v4
      with:
        path: |
          docs/_build/html

  deploy-docs:
    runs-on: ubuntu-latest
    needs: build-docs
    if: github.ref == 'refs/heads/master'

    steps:
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v4

    - name: Deploy docs to Github Pages
      uses: crazy-max/ghaction-github-pages@v4
      with:
        target_branch: gh-pages
        build_dir: artifact
        jekyll: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
