# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

name: linters

on:
  push:
    branches:
    - master
  pull_request:
    paths:
    - 'pyproject.toml'
    - 'uv.lock'
    - '.github/**'
    - 'src/**'
    - 'tests/**'

jobs:
  linters:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14']

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: ./.github/actions/setup
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run reuse lint
      run: |
        uv run just lint-reuse

    - name: Run ruff check
      run: |
        uv run just lint-ruff-check

    - name: Run ruff format
      run: |
        uv run just lint-ruff-format

  linters-win32:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14']

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: ./.github/actions/setup
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run mypy
      run: |
        uv run just win32-lint-mypy

  type-checks:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14']

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: ./.github/actions/setup
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run mypy
      run: |
        uv run just lint-mypy
