# SPDX-FileCopyrightText: AISEC Pentesting Team
#
# SPDX-License-Identifier: CC0-1.0

name: tests

on:
  push:
    branches:
    - master
  pull_request:
    paths:
    - '.github/**'
    - 'src/**'
    - 'tests/**'

jobs:
  pytest:
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14', '3.14t']

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - uses: ./.github/actions/setup
      with:
        python-version: ${{ matrix.python-version }}

    - name: Run pytest
      run: |
        uv run just run-test-pytest

  bats:
    strategy:
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14', '3.14t']

    runs-on: ubuntu-latest
    container: debian:trixie

    steps:
    - uses: actions/checkout@v6

    - uses: ./.github/actions/setup
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Debian Dependencies
      run: |
        apt-get update -y && apt-get install -y bats python3 jq zstd

    - name: Run bats
      run: |
        uv run just run-test-bats
