# https://github.com/actions/setup-python/issues/374
#
name: tests

on:
  push:
    branches:
    - master
  pull_request:
    paths:
    - '.github/**'
    - 'src/**'
    - 'tests/**'

jobs:
  pytest:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10']

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - uses: Gr1N/setup-poetry@v7
    - uses: actions/cache@v3
      with:
        path: ~/.cache/pypoetry/virtualenvs
        key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}-${{ hashFiles('pyproject.toml') }}

    - name: Install Dependencies
      run: |
        poetry install
    - name: Run pytest
      run: |
        poetry run python -m pytest -v tests/python

  vecu:
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.10']

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - uses: Gr1N/setup-poetry@v7
    - uses: actions/cache@v3
      with:
        path: ~/.cache/pypoetry/virtualenvs
        key: ${{ runner.os }}-poetry-${{ hashFiles('poetry.lock') }}-${{ hashFiles('pyproject.toml') }}

    - name: Install Dependencies
      run: |
        poetry install

    - name: Spawn vECU
      run: |
        poetry run gallia vecu "tcp-lines://127.0.0.1:20162" rng --seed 3 --mandatory_sessions "[1, 2, 3]" --mandatory_services "[DiagnosticSessionControl, EcuReset, ReadDataByIdentifier, WriteDataByIdentifier, RoutineControl, SecurityAccess, ReadMemoryByAddress, WriteMemoryByAddress, RequestDownload, RequestUpload, TesterPresent]" &

    - name: Test scan-services
      run: |
        poetry run gallia scan-services --target "tcp-lines://127.0.0.1:20162" --no-dumpcap --sessions 1 2 --check-session

    - name: Test scan-sessions
      run: |
        poetry run gallia scan-sessions --target "tcp-lines://127.0.0.1:20162" --no-dumpcap --depth 2

    - name: Test scan-identifiers
      run: |
        poetry run gallia scan-identifiers --target "tcp-lines://127.0.0.1:20162" --no-dumpcap --start 0 --end 100 --sid 0x22
        poetry run gallia scan-identifiers --target "tcp-lines://127.0.0.1:20162" --no-dumpcap --start 0 --end 100 --sid 0x2e
        poetry run gallia scan-identifiers --target "tcp-lines://127.0.0.1:20162" --no-dumpcap --start 0 --end 100 --sid 0x31

    - name: Test scan-reset
      run: |
        poetry run gallia scan-reset --target "tcp-lines://127.0.0.1:20162" --no-dumpcap 

    - name: Test scan-dump-seeds
      run: |
        poetry run gallia scan-dump-seeds --target "tcp-lines://127.0.0.1:20162" --no-dumpcap --duration 0.01 --level 0x2f

    - name: Test scan-memory-functions
      run: |
        for sid in 0x23 0x34 0x35 0x3d; do
            poetry run gallia scan-memory-functions --target "tcp-lines://127.0.0.1:20162" --no-dumpcap --sid "$sid"
        done

    - name: Test UDS primitives
      run: |
        poetry run gallia simple-ecu-reset --target "tcp-lines://127.0.0.1:20162" --no-dumpcap 
        poetry run gallia simple-read-error-log --target "tcp-lines://127.0.0.1:20162" --no-dumpcap 
        poetry run gallia simple-get-vin --target "tcp-lines://127.0.0.1:20162" --no-dumpcap 
        poetry run gallia simple-ping --count 2 --target "tcp-lines://127.0.0.1:20162" --no-dumpcap 
        poetry run gallia simple-read-by-identifier --data-id 0x108d --target "tcp-lines://127.0.0.1:20162" --no-dumpcap 
        poetry run gallia simple-send-pdu 1001 --target "tcp-lines://127.0.0.1:20162" --no-dumpcap 
        poetry run gallia simple-write-by-identifier --data-id 0x2266 --data 00 --target "tcp-lines://127.0.0.1:20162" --no-dumpcap 
